---
import Tool from "@/components/Tool.astro"
import { MagnifyingGlassIcon } from "@radix-ui/react-icons"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Home">
	<div>
		<header class="flex justify-between items-center">
			<div>
				<h2 class="text-xl">Tools</h2>
			</div>
			<div class="flex flex-col relative">
				<label
					for="filters_menu_trigger"
					class="border text-sm rounded-md p-1 cursor-pointer select-none hover:bg-neutral-100"
				>
					Filters
				</label>
				<input
					class="hidden peer"
					id="filters_menu_trigger"
					type="checkbox"
				/>
				<div
					class="absolute top-[2rem] right-0 bg-white border rounded-lg shadow-md z-50 translate-x-56 peer-checked:translate-x-0 transition-all"
				>
					<header class="border-b p-1">
						<h3 class="font-medium">Filters</h3>
					</header>
					<label class="flex items-center pl-1 gap-[0.1rem] border-b text-xs">
							<MagnifyingGlassIcon
								className="text-zinc-700"
								width={18}
								height={18}
							/>
							<input
								class="p-2 outline-none"
								type="text"
								placeholder="Search filters"
							/>
					</label>
					<div class="p-1">
						<span class="rounded-md bg-blue-100 text-blue-500 font-medium select-none cursor-pointer text-[0.7rem] p-1">React</span>
						<span class="rounded-md bg-blue-100 text-blue-500 font-medium select-none cursor-pointer text-[0.7rem] p-1">Typescript</span>
						<span class="rounded-md bg-yellow-100 text-yellow-500 font-medium select-none cursor-pointer text-[0.7rem] p-1">Javascript</span>
						<span class="rounded-md bg-orange-100 text-orange-500 font-medium select-none cursor-pointer text-[0.7rem] p-1">Astro</span>
					</div>
				</div>
			</div>
		</header>
		<div class="mt-1 grid grid-cols-3 gap-1">
			<Tool
				data={{
					title: "Web capture",
					description: "Record media from the browser",
					url: "https://web-capture.online/",
					isPrivileged: false,
					isRecommended: true,
				}}
			/>
			{
				Array(42)
					.fill(null)
					.map(() => (
						<Tool
							data={{
								title: "Web capture",
								description: "Record media from the browser",
								url: "https://web-capture.online/",
								isPrivileged: false,
								isRecommended: false,
							}}
						/>
					))
			}
		</div>
	</div>
</Layout>
