---
import { Filters } from "@/components/Filters"
import { Tools } from "@/components/Tools/Tools"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Home">
	<div class="h-full">
		<header class="flex justify-between items-center">
			<div>
				<h2 class="text-xl">Tools</h2>
			</div>
			<Filters client:load />
		</header>
		<Tools client:load />
	</div>
</Layout>