---
import { Filters } from "@/components/Filters"
import { Tools } from "@/components/Tools"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Home">
	<div>
		<header class="flex justify-between items-center">
			<div>
				<h2 class="text-xl">Tools</h2>
			</div>
			<Filters client:load />
		</header>
		<div class="mt-1 grid grid-cols-3 gap-1 min-h-72 items-stretch">
			<Tools />
		</div>
	</div>
</Layout>
