---
import { appConfig } from "@/config/app.config"
import { ArchiveIcon } from "@radix-ui/react-icons"
---

<header class="border-b p-1 px-2 flex items-center justify-between">
    <div class="flex items-center gap-1 text-base py-1 sm:py-0 ">
        <ArchiveIcon className="text-zinc-800" width={25} height={25} />
        <h1 class="font-medium text-lg leading-3 select-none">Web Vault</h1>
        <span class="text-[0.7rem] text-zinc-500 select-none">Tools recolected with {'<'}3</span>
    </div>
    <div>
        {
            appConfig.networks.map((network) => (
                <a
                    class="text-blue-600 hover:underline font-medium"
                    href={network.url}
                    title={`${network.name}'s ${appConfig.name}`}
                    target="_blank"
                >
                    {network.name}
                </a>
            ))
        }
    </div>
</header>
