---
import { DangerousIcon, RecommendedIcon } from "./Icons"
---

<article class="flex justify-end gap-2 text-xs text-neutral-800">
    <span class="flex gap-1 items-center">
        <DangerousIcon />
        Dangerous
    </span>
    <span class="flex gap-1 items-center">
        <RecommendedIcon />
        Recommended
    </span>
</article>
