---
import { type Tool } from "@/models"
import { StarFilledIcon } from "@radix-ui/react-icons"

interface Props {
    data: Tool;
}

const { data } = Astro.props;
---

<a
    rel="noopener noreferrer"
    href={data.url}
    class="border relative rounded-lg px-2 py-3 hover:bg-neutral-100"
    target="_blank"
>
    <header class="flex flex-col">
        <h2 class="text-base font-medium leading-4">{data.title}</h2>
        <span class="text-zinc-900 text-xs">{data.description}</span>
    </header>
    <div class="absolute top-0 right-0 p-1">
        {
            data.isRecommended && (
                <div class="bg-yellow-200 rounded-md p-1">
                    <StarFilledIcon
                        width={14}
                        height={14}
                        className="text-yellow-600"
                    />
                </div>
            )
        }
    </div>
    <footer></footer>
</a>
