---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="grid place-items-center">
		<div class="border rounded-md w-1/2 mt-10">
			<header class="border-b p-1">
				Web Vault
			</header>
			<main>
				<slot />
			</main>
		</div>
	</body>
</html>
